<!DOCTYPE html>
<html
        lang="en"
        th:replace="~{main :: parent(~{::#content},~{::title},~{::script})}" xmlns:th="http://www.w3.org/1999/xhtml"
>
<head>
  <title>about page</title>
</head>
<body >
<div id="content"  class="text-gray-900 dark:text-white">
   <!-- Banner Section -->
   <h1>Welcome to About Page</h1>
   <p>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum qui sapiente enim ducimus, dignissimos veniam perferendis accusantium in tempora aliquid!
   </p>
   <!-- <section class="bg-blue-600 text-white py-20 animate__animated animate__fadeInDown">
    <div class="container mx-auto text-center">
      <h2 class="text-4xl font-bold mb-4">Welcome to Contact Manager</h2>
      <p class="text-lg mb-8">Manage all your contacts effortlessly and securely in one place.</p>
      <a href="#"
         class="bg-white text-blue-600 px-6 py-3 rounded-full font-semibold hover:bg-gray-100 transition duration-300">Get
        Started</a>
    </div>
  </section>  -->




  <!-- Footer Section -->
  <!-- <footer class="bg-gray-800 text-white py-8">
    <div class="container mx-auto text-center">
      <p>&copy; 2024 Contact Manager. All rights reserved.</p>
      <p>Follow us on <a href="#" class="text-blue-400">Facebook</a>, <a href="#"
                                                                         class="text-blue-400">Twitter</a>, and <a
              href="#" class="text-blue-400">Instagram</a>.</p>
    </div>
  </footer> -->
</div>
<script>
  console.log("Home page");
</script>
</body>
</html>
