<!DOCTYPE html>
<html
        lang="en"
        th:replace="~{main :: parent(~{::#content},~{::title},~{::script})}" xmlns:th="http://www.w3.org/1999/xhtml"
>
<head>
  <title>Home page</title>
</head>
<body >
<div id="content"  class="text-gray-900 dark:text-white">
  <!-- Banner Section -->
  <h1>Welcome to home page</h1>



  <!-- Footer Section -->
  <!-- <footer class="bg-gray-800 text-white py-8">
    <div class="container mx-auto text-center">
      <p>&copy; 2024 Contact Manager. All rights reserved.</p>
      <p>Follow us on <a href="#" class="text-blue-400">Facebook</a>, <a href="#"
                                                                         class="text-blue-400">Twitter</a>, and <a
              href="#" class="text-blue-400">Instagram</a>.</p>
    </div>
  </footer> -->
</div>
<script>
  console.log("Home page");
</script>
</body>
</html>
