<!DOCTYPE html>
<html
  class="light"
  lang="en"
  xmlns:th="http://www.w3.org/1999/xhtml"
  th:fragment="parent(content, title,script)"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-th-replace="${title}">main page</title>

    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <link rel="stylesheet" data-th-href="@{'/css/style.css'}" />
    <!-- font awsome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="bg-gray-100 dark:bg-gray-900 dark:text-white">
    <!-- common header -->

    <!-- if user logged in : navbar  -->
    <div th:if="${loggedInUser}">
      <div data-th-replace="~{user/userNavbar :: user-navbar}"></div>
    </div>

    <!-- user is logged in : sidebar we not use I want to only show in profile page -->
    <!-- <div th:if="${loggedInUser}">
      <div data-th-replace="~{user/sidebar :: user-sidebar}"></div>
    </div> -->

    <!-- if user is logged in -->
    <div th:unless="${loggedInUser}">
      <div data-th-replace="~{navbar :: navbar}"></div>
    </div>

    <!-- <a data-th-href="@{'/about'}">About</a>
     <a data-th-href="@{'/services'}">Service</a>
     <a data-th-href="@{'/home'}">Home</a> -->

    <!-- main content -->
    <div class="p-4">
      <section data-th-replace="${content}"></section>
    </div>

    <!-- flow bite content -->

    <!-- common footer -->
    <!-- <footer class="p-4" class="text-gray-900 dark:text-white">
        Footer: @copyright
     </footer> -->

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script data-th-src="@{'/js/script.js'}"></script>
    <th:block data-th-replace="${script}"></th:block>
  </body>
</html>

<!-- <div th:fragment="parent">
    <h1>This parent </h1>
    <p>My name is Rishi singh.</p>
</div> -->

<!-- Passing Parameter  -->
<!-- <div class="parent1-fragment" th:fragment="parent1(x,y)">
    <h1>This parent send parameter </h1>
    <p>My name is Rishi singh.</p>
    <h1>Value of x is <span th:text="${x}"></span></h1>
    <h1>Value of y is <span th:text="${y}"></span>
</div> -->
