<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{main :: parent(~{::#content},~{::title},~{::script})}"
  xmlns:th="http://www.w3.org/1999/xhtml"
>
  <head>
    <title>Home page</title>
  </head>
  <body>
    <div
      id="content"
      class="text-gray-900 dark:text-white text-center mt-5 md:w-1/2 mx-auto"
    >
      <div data-th-replace="message::messageBox"></div>
      <button class="bg-gray-900 mt-2 text-white px-3 py-2 rounded">
        Login
      </button>
    </div>
    <script>
      console.log("success login verify page");
    </script>
  </body>
</html>
